body {
    background-color: #e6e6e6;
}
a {
    color: inherit!important;
}
img {
    max-width: 100%;
    margin: 0;
}
.padding-page {
    padding: 100px 0 30px;
}
.btn {
    &-danger {
        background-color: $red;
        border-color: $red;
    }
    &-warning {
        background-color: $yellow;
        border-color: $yellow;
    }
}