body {
    background-color: #e6e6e6;
    color: $black;
}
a {
    color: inherit!important;
}
img {
    max-width: 100%;
    margin: 0;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.padding-page {
    padding: 100px 0 30px;
}
.btn {
    &-danger {
        background-color: $red;
        border-color: $red;
        color: $white!important;
    }
    &-warning {
        background-color: $yellow;
        border-color: $yellow;
        color: $black!important;
    }
}
.alert {
    &-danger {
        background-color: $red;
        border-color: $red;
        color: $white;
    }
    &-warning {
        background-color: $yellow;
        border-color: $yellow;
        color: $white;
    }
}