#header {
    background-color: #b41214;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 9;

    .logo {
        max-width: 150px;
        margin: 0 auto;
    }
}