#wrapper-pokemon{
    .poke{
        &:active{
            transform: scale(1.05);
        }
        &:hover{
            cursor: pointer;
        }
        &.clicked{
            transform: scale(1.05);
        }
    }
}